// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// Google Font Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

// Vuetify
@import "~vuetify/dist/vuetify.min.css";

/**
 * BASES
 *
 * -------------------------------------------------------------------
 */

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-sans-poppins;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    font-weight: $font-semi-bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-white {
    background-color: $white !important;
}

/**
 * Typography
 *
 * -------------------------------------------------------------------
 */

.medium {
    font-weight: $font-medium;
}
.semi-bold {
    font-weight: $font-semi-bold;
}
.bold {
    font-weight: $font-semi-bold;
}

/**
 * Navbar
 *
 * -------------------------------------------------------------------
 */

.nav-text {
    font-weight: $font-bold !important;
    color: #000 !important;
    font-size: $h2-font-size;
}

.navbar-menu {
    color: $black;
    border-color: $white;
}

.uil-size {
    font-size: $h2-font-size;
    // color: #000;
}

.icon-size {
    font-size: $h2-font-size;
    padding-top: 0;
}
.uil-app {
    color: #000;
    text-decoration: none;
    border-color: #fff;
    border-style: none;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

.nav__link:hover {
    color: $primary-blue;
    // border-bottom: 2px solid $primary-blue;
    // margin-bottom: 0;
    // padding-bottom: 0;
}

/**
 * Home
 *
 * -------------------------------------------------------------------
 */

.button {
    display: inline-block;
    background-color: $primary-blue;
    color: $white;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: $font-medium;
}

.button:hover {
    color: $white;
}

.title-home {
    font-size: $big-font-size;
}

.subtitle-home {
    font-size: $h2-font-size;
    color: $primary-blue;
}

.text-home {
    font-size: $normal-font-size;
}

.no-list-style {
    list-style: none;
    margin-bottom: 1rem;
}

.home__social-icon {
    color: $primary-blue;
    font-size: $h2-font-size;
    padding: 0.5rem;
}

.home__social-icon:hover {
    color: $primary-blue;
}

.home__blob {
    width: 340px;
    fill: $primary-blue;
}

.home__blob-img {
    width: 160px;
}

/**
 * About
 *
 * -------------------------------------------------------------------
 */

.about-img {
    width: 200px;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}

.about_info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.about__info-name {
    font-size: $smaller-font-size;
}

.about__info-title {
    font-size: $h2-font-size;
    font-weight: $font-semi-bold;
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

/**
 * Skills
 *
 * -------------------------------------------------------------------
 */
.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: $primary-blue;
}

.skills__icon {
    margin-right: 1rem;
}

.skills__title {
    font-size: $h3-font-size;
}

.skills__subtitle {
    font-size: $small-font-size;
}

.skills__arrow {
    margin-left: auto;
    transition: 0.7s;
}

.skills__list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__title {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.skills_name {
    font-size: $normal-font-size;
    font-weight: $font-medium;
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: 0.25rem;
}

.skills__bar {
    background-color: $secondary-blue;
}

.skills__percentage {
    display: block;
    background-color: $primary-blue;
}

.skills__html {
    width: 90%;
}
.skills__css {
    width: 80%;
}
.skills__js {
    width: 30%;
}
.skills__bootstrap {
    width: 80%;
}
.skills__vuetify {
    width: 50%;
}
.skills__responsive {
    width: 90%;
}
.skills__php {
    width: 50%;
}
.skills__java {
    width: 30%;
}
.skills__laravel {
    width: 40%;
}
.skills__vue {
    width: 40%;
}
.skills__node {
    width: 40%;
}
.skills__sql {
    width: 50%;
}
.skills__mysql {
    width: 75%;
}
.skills__mongo {
    width: 30%;
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list {
    height: max-content;
    margin-bottom: 2rem;
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

/**
 * Qualification
 *
 * -------------------------------------------------------------------
 */
.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.qualification__button {
    font-size: $h3-font-size;
    font-weight: $font-medium;
    cursor: pointer;
}

.qualification__button:hover {
    color: $primary-blue;
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: 0.8rem;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: $normal-font-size;
    font-weight: $font-medium;
}

.qualification__subtitle {
    display: inline-block;
    font-size: $small-font-size;
    margin-bottom: 1rem;
}

.qualification__calendar {
    font-size: $smaller-font-size;
    // color: $secondary-blue;
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: $primary-blue;
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: $primary-blue;
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.span {
    color: $primary-blue;
}

/**
 * Contact me
 *
 * -------------------------------------------------------------------
 */

.contact__information {
    display: flex;
    margin-bottom: 2rem;
}

.contact__icon {
    font-size: 2rem;
    color: $primary-blue;
    margin-right: 1.2rem;
    cursor: pointer;
}

.contact_title {
    font-size: $h3-font-size;
    font-weight: $font-medium;
}

.contact__subtitle {
    font-size: $small-font-size;
}

.contact__label {
    font-size: $smaller-font-size;
    font-weight: $font-bold;
}

.contact__content {
    background-color: $light-blue;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
    margin-bottom: 10px;
}

.contact__input {
    width: 100%;
    background-color: $light-blue;
    color: $black;
    font-size: $normal-font-size;
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
}

/**
 * Footer
 *
 * -------------------------------------------------------------------
 */

footer {
    flex-shrink: 0;
}

.bg-footer {
    background-color: $primary-blue;
}

.text-footer {
    color: $white;
    font-weight: $font-semi-bold;
}

.text-footer:hover {
    color: #d7dbdd;
}

.text-footer-copy {
    color: #d7dbdd;
}

/*==================== MEDIA QUERIES ====================*/

@media screen and (max-width: 767px) {
    .navbar-menu {
        background-color: $white;
        // padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: 0.3s;
    }
    .grid {
        display: grid;
        gap: 1.5rem;
    }

    .nav-list {
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 1rem !important;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $small-font-size;
        color: #000 !important;
        font-weight: $font-semi-bold;
    }

    .movil {
        display: none;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .responsive-m {
        padding-top: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .p-icon {
        padding: 8px 16px !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 570px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .align-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav__link {
        font-weight: $font-bold !important;
        color: #000 !important;
    }
    .nav__link:hover {
        color: $primary-blue !important;
    }

    .uil-size {
        display: none;
    }

    .shadow-sm {
        box-shadow: none !important;
    }
    .desktop {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .aling-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    $big-font-size: 3rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
}
