// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Google Font Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Fontawesome
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

/**
 * BASES
 *
 * -------------------------------------------------------------------
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-sans-poppins;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4 {
    font-weight: $font-semi-bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-white {
    background-color: $white !important;
}

.active-text {
    color: $primary-purple !important;
}

/**
 * Typography
 *
 * -------------------------------------------------------------------
 */

.medium {
    font-weight: $font-medium;
}
.semi-bold {
    font-weight: $font-semi-bold;
}
.bold {
    font-weight: $font-semi-bold;
}

/**
 * Navbar
 *
 * -------------------------------------------------------------------
 */

.nav-text {
    font-weight: $font-bold !important;
    color: #000 !important;
}

.navbar-menu {
    color: $black;
    border-color: $white;
}

.uil-size {
    font-size: $h2-font-size;
    // color: #000;
}

.uil-app {
    color: #000;
    text-decoration: none;
    border-color: #fff;
    border-style: none;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

/**
 * Footer
 *
 * -------------------------------------------------------------------
 */

footer {
    flex-shrink: 0;
}

.bg-footer {
    // background-color: $primary-green;
    background-color: $primary-purple;
}

.text-footer {
    color: $white;
    font-weight: $font-semi-bold;
}

.text-footer:hover {
    color: #d7dbdd;
}

.text-footer-copy {
    color: #d7dbdd;
}

/*==================== MEDIA QUERIES ====================*/

@media screen and (max-width: 767px) {
    .navbar-menu {
        background-color: $white;
        // padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: 0.3s;
    }
    .grid {
        display: grid;
        gap: 1.5rem;
    }

    .nav-list {
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 1rem !important;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $small-font-size;
        color: #000 !important;
        font-weight: $font-semi-bold;
    }

    .nav__link:hover {
        color: $primary-purple;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .responsive-m {
        padding-top: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .p-icon {
        padding: 8px 16px !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 575px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .align-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav__link {
        font-weight: $font-bold !important;
        color: #000 !important;
    }
    .nav__link:hover {
        color: $primary-purple !important;
    }

    .uil-size {
        display: none;
    }

    .shadow-sm {
        box-shadow: none !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .aling-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    $big-font-size: 3rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
}
